@model IEnumerable<Rholiver.Site.Models.BlogPost>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

<p>This is a fake blog to test things!</p>
<p>@Html.ActionLink("Add new post", "CreatePost")</p>

<section class="blog">
@foreach (var post in Model)
{
  <article>
    <header><h3>@Html.ActionLink(post.Title, "Post", new { id = post.Id })</h3></header>
    <section class="body">
    @post.Body
    </section>
    <section class="stats">Created at @post.CreatedAt</section>
    @Html.ActionLink("Edit", "EditPost", @post.Id)
  </article>
}
</section>